<div class="container">
    <div class="row heading">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-md-2">
                <button class="btn btn-secondary btn-sm" style="font-size:medium;">
                    <i class="bi bi-list-ul"></i>&nbsp;SAVED LISTS
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm">
                    <!-- <i class="fa fa-filter"></i>&nbsp;SAVED FILTERS -->
                    <i class="bi bi-funnel"></i>&nbsp;SAVED FILTERS
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm">
                    <i class="fa fa-history"></i>&nbsp;SEARCH HISTORY
                    <!-- <i class="bi bi-clock-history"></i>&nbsp;SEARCH HISTORY -->
                </button>
            </div>
            <div class="col-md-5 offset-1">
                <!-- <input type="text" style="width:100%" placeholder="Search" [(ngModel)]="search" name="search"
                    (input)="searchFilter(search)" /> -->

                <form class="d-flex">
                    <input class="form-control me-2" type="search" #search (input)="searchFilter(search.value)"
                        placeholder="Search" aria-label="Search">
                    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                </form>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="left-content">
                <table class="table table-hover">
                    <thead>
                        <tr style="color: rgb(185, 179, 179);">
                            <th class="text-center">Date</th>
                            <th >Item Name</th>
                            <th class="text-center">No. of Entities</th>
                            <th class="text-center">Actions</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of filteredData">
                            <td class="text-center">{{item.date | date: 'MMM dd'}}</td>
                            <td ><strong>{{item.name}}</strong></td>
                            <td style="text-align:center">{{item['details'].length}}</td>
                            <td class="text-center">
                                <span>
                                    <i class="bi bi-envelope"></i>&nbsp;&nbsp;
                                    <i class="bi bi-share"></i>&nbsp;&nbsp;
                                    <i class="bi bi-pencil"></i>&nbsp;&nbsp;
                                    <i class="bi bi-trash"></i>&nbsp;&nbsp;
                                </span>
                            </td>
                            <td><button type="button" class="btn btn-light btn-sm"
                                    (click)="displayDetails(item.name)">Details</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="right-content" style="padding: 1em;">
                <div style="background-color: ghostwhite; height: 40px;">
                    <p class="text-center" style="font-size: 12px;text-align:center;">No description yet <a
                            href="#">+Add Description</a></p>
                </div>
                <ul style="list-style: none;" *ngFor="let item of details">
                    <li class="text-primary text-start">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>